// Modules

// vars
@use 'vars'

// plugins
@use '../plugins/plugins-dir' as plugins

// Mixins

=breakpoint($br, $media-feature: 'min-width')
  @media screen and (#{$media-feature}: $br)
    @content

=card-title($mb)
  +plugins.margin(null null $mb)
  text-transform: uppercase

=images-block($parent, $box-edge-values, $sq-left: false)
  .#{$parent}__images
    position: relative

  .#{$parent}__img,
  .#{$parent}__square
    width: 250px

    // small devices
    +breakpoint($br: vars.$xsm, $media-feature: 'max-width')
      width: 180px

    // medium devices
    +breakpoint($br: vars.$xlg)
      width: 450px

  .#{$parent}__img
    +plugins.position(absolute, $box-edge-values)

  .#{$parent}__square
    height: 250px
    background-color: var(--first-color)

    @if $sq-left
      margin-left: auto

    // small devices
    +breakpoint($br: vars.$xsm, $media-feature: 'max-width')
      height: 180px

    // medium devices
    +breakpoint($br: vars.$xlg)
      height: 450px
