// Modules

// plugins
@use '../plugins/plugins-dir' as plugins

// vars
@use 'vars'

// mixins
@use 'mixins'

// Placeholders

%card
  background-color: var(--container-color)
  border: 1px solid var(--border-color)
  text-align: center
  cursor: pointer
  position: relative
  transition: .3s

%card-tag
  +plugins.padding(.5rem 1rem)
  background-color: var(--first-color)
  font:
    size: var(--small-font-size)
    weight: var(--font-medium)
  text-transform: uppercase
  color: hsl(0, 0%, 100%)

%card-img
  height: 215px
  +plugins.margin(null null var(--mb-1))

%card-title-price
  font:
    size: var(--h3-font-size)
    weight: var(--font-bold)

  // medium devices
  +mixins.breakpoint($br: vars.$md)
    font-size: var(--normal-font-size)

%card-title
  +mixins.card-title($mb: var(--mb-0-75))

%card-price
  display: block
  color: var(--first-color)
  transition: .3s

%card-button
  font-size: var(--small-font-size)
  transform: translateY(1rem)
  opacity: 0

%footer-link
  color: var(--text-color)

  &:hover
    color: var(--title-color)

%container-grid-medium
  // medium devices
  +mixins.breakpoint($br: vars.$md)
    grid-template-columns: repeat(2, 1fr)
    align-items: center

  // medium devices
  +mixins.breakpoint($br: vars.$xlg)
    column-gap: 8rem

  // large devices
  +mixins.breakpoint($br: vars.$xl)
    column-gap: 13rem
    +plugins.padding(3rem null null)
