// HOME
section.home#home

  // HOME CONTAINER
  .home__container.container.grid 
    .home__img-bg 
      img(src="@img/home.png", alt="🏡")

    // HOME SOCIAL
    .home__social
      each link, key in socialLinks
        a.home__social-link(href=`${link}` target="_blank")= key.charAt(0).toUpperCase() + key.slice(1)

    // HOME DATA
    .home__data
      h1.home__title
        |NEW WATCH
        br
        |COLLECTIONS B720

      // HOME DESCRIPTION
      p.home__description.
        Latest arrival of the new imported watches of the B720 series, with a modern and resistant design.
      span.home__price $1245

      // HOME BTNS
      .home__btns
        a.button.button--gray.button--small(href="#") Discover
        button.button.home__button ADD TO CART
