// NEW
section.new.section.container#new
  h2.section__title New Arrivals

  // NEW CONTAINER
  .new__container
    .swiper.new-swiper
      .swiper-wrapper
        each card in newCards
          +newCard(card)
