// NEWSLETTER
section.newsletter.section.container

  // NEWSLETTER BG
  .newsletter__bg.grid
    div
      h2.newsletter__title
        |Subscribe Our 
        br
        |Newsletter
      
      p.newsletter__description.
        Don`t miss out on your discounts. Subscribe to our email newsletter to get the best offers, discounts, coupons, gifts and much more.

    // NEWSLETTER SUBSCRIBE
    form.newsletter__subscribe(action="" method="")
      input.newsletter__input(type="email", placeholder="Enter your email")

      button.button SUBSCRIBE
