// STORY
section.story.section.container

  // STORY CONTAINER
  .story__container.grid

    // STORY DATA
    .story__data
      h2.section__title.story__section-title Our story

      h1.story__title 
        |Inspirational Watch of
        br
        |this year

      p.story__description.
        The latest and modern watches of this year, is available in various presentations in this store, discover them now.

      a.button.button--small(href="#") Discover

    // STORY IMAGES
    .story__images
      img.story__img(src="@img/story.png", alt="story")
      .story__square
