// TESTIMONIAL
section.testimonial.section.container#testimonial

  // TESTIMONIAL CONTAINER
  .testimonial__container.grid

    // TESTIMONIAL SWIPER
    .swiper.testimonial-swiper

      // SWIPER WRAPPER
      .swiper-wrapper
        each card, i in testimonialCards
          +testimonialCard({ i, card })

      // SWIPER BTNS
      .swiper-button-prev
        i.bx.bx-left-arrow-alt
      .swiper-button-next
        i.bx.bx-right-arrow-alt

    // TESTIMONIAL IMAGES
    .testimonial__images
      .testimonial__square
        img.testimonial__img(src="@img/testimonial.png", alt="testimonial")
