- const projectName = 'Responsive Watches Website'

- const navLinks = ['Home', 'Featured', 'Products', 'New']
- const socialLinks = {facebook: 'https://www.facebook.com/', twitter: 'https://twitter.com/', instagram: 'https://www.instagram.com/'}

-const featuredCards = [{ title: "Jazzmaster", price: 1050 }, { title: "Ingersoll", price: 250 }, { title: "Rose fold", price: 890 }]
