//- Project

- const projectName = "Responsive Watches Website"

//- Navigation

- const navLinks = ["Home", "Featured", "Products", "New"]
- const socialLinks = {facebook: "https://www.facebook.com/", twitter: "https://twitter.com/", instagram: "https://www.instagram.com/"}

//- Cards

-const featuredCards = [{ img: "featured1.png", title: "Jazzmaster", price: 1050 }, { img: "featured2.png", title: "Ingersoll", price: 250 }, { img: "featured3.png", title: "Rose fold", price: 890 }]

-const productsCards = [{ img: "product1.png", title: "Spirit rose", price: 1500 }, { img: "product2.png", title: "Khaki pilot", price: 1350 }, { img: "product3.png", title: "Jubilee black", price: 870 }, { img: "product4.png", title: "Fosil me3", price: 650 }, { img: "product5.png", title: "Duchen", price: 950 }]

-const testimonialCards = [{ img: "testimonial1.jpg", name: "Lee Doe" }, { img: "testimonial2.jpg", name: "Samantha May" }, { img: "testimonial3.jpg", name: "Raul Zaman" }]

-const newCards = [{ img: "new1.png", title: "Logines rose", price: 980 }, { img: "new2.png", title: "Jazzmaster", price: 1150 }, { img: "new3.png", title: "Dreyfuss gold", price: 750 }, { img: "new4.png", title: "Portuguese rose", price: 1590 }]

-const cartCards = [{ img: "featured1.png", title: "Jazzmaster", price: 1050, amount: 1 }, { img: "featured3.png", title: "Rose Gold", price: 850, amount: 1 }, { img: "new1.png", title: "Logines Rose", price: 980, amount: 1 }]

//- Sections

-const footerSections = [{ title: "About Us", links: ["Support Center", "Customer Center", "About Us", "Copy Right"]}, { title: "Product", links: ["Road bikes", "Mountain bikes", "Electric", "Accessories"] }]
