//- Project

- const projectName = "Responsive Watches Website"

//- Navigation

- const navLinks = ["Home", "Featured", "Products", "New"]
- const socialLinks = {facebook: "https://www.facebook.com/", twitter: "https://twitter.com/", instagram: "https://www.instagram.com/"}

//- Cards

-const featuredCards = [{ title: "Jazzmaster", price: 1050 }, { title: "Ingersoll", price: 250 }, { title: "Rose fold", price: 890 }]

-const productsCards = [{ title: "Spirit rose", price: 1500 }, { title: "Khaki pilot", price: 1350 }, { title: "Jubilee black", price: 870 }, { title: "Fosil me3", price: 650 }, { title: "Duchen", price: 950 }]

-const testimonialCards = [{ name: "Lee Doe" }, { name: "Samantha May" }, { name: "Raul Zaman" }]

-const newCards = [{ title: "Logines rose", price: 980 }, { title: "Jazzmaster", price: 1150 }, { title: "Dreyfuss gold", price: 750 }, { title: "Portuguese rose", price: 1590 }]
