include ../base/vars
include ../base/mixins

doctype html
html(lang="en")
  block head
    +head()

  // BODY
  body

    // MAIN
    main.main
      block header 

      block content

      block footer
