// Modules

// plugins
@use '../plugins/plugins-dir' as plugins

// vars
@use '../base/vars'

// mixins
@use '../base/mixins'

// placeholders
@use '../base/placeholders'

/* FEATURED

.featured__container
  row-gap: 2.5rem

  // medium devices
  +mixins.breakpoint($br: vars.$sm)
    grid-template-columns: repeat(2, 1fr)
    justify-content: center
    align-items: flex-start
    gap: 1.5rem

  // medium devices
  +mixins.breakpoint($br: vars.$xlg)
    grid-template-columns: repeat(3, 312px)
    +plugins.padding(2rem null null)

.featured__card
  +plugins.padding(2rem null null)
  overflow-y: hidden
  @extend %card

  &:hover
    +plugins.padding(2rem null 3rem)
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1)

    .featured__price
      +plugins.margin(null null var(--mb-1-5))

    .featured__button
      transform: translateY(0)
      opacity: 1

.featured__tag
  +plugins.position(absolute, 3rem null null -1rem)
  transform: rotate(-90deg)
  @extend %card-tag

.featured__img
  @extend %card-img

.featured__title,
.featured__price
  @extend %card-title-price

.featured__title
  @extend %card-title

.featured__price
  @extend %card-price

.featured__button
  @extend %card-button
