// Modules

@use '../plugins/plugins-dir' as plugins

/* SECTION

.section
  +plugins.padding(6.5rem null 1rem)

.section__title
  +plugins.margin(null null var(--mb-3))
  font-size: var(--h3-font-size)
  text:
    align: center
    transform: uppercase
  letter-spacing: 2px
  position: relative

  &:before
    content: ''
    +plugins.size(67px, 1px)
    +plugins.margin(0 auto)
    background-color: var(--first-color)
    +plugins.position(absolute, -1rem 0 null)
